
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #F9D0A3;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bubbleboddy Neue', cursive;
}
