


body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #F9D0A3;
}

.btn{
  background-color: #151217;
  border: none;
  color: #FDD90B;}

  .sort-btn.active {
  background-color: #da001a;
 
}

.sort-buttons {
  margin-bottom: 20px;
  text-align: center;
}

.sort-btn {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #FDD90B;
  cursor: pointer;
}
.sort-btn:hover {
  background-color: #da001a;
  color: #151217;
}
#search-bar input {
  background-color: #151217;
  color: #FDD90B;
  border-radius: 25px;
  padding: 10px 20px;
  width: 100%;
  font-size: 1rem;
}
#search-bar input::placeholder {
  color: #FDD90B;
  opacity: 0.7;
}