<div>
  <section class="jumbotron text-center py-5 mb-4">
    <h1>Bienvenue chez Au petit village</h1>
    <p>Découvrez notre collection de figurines Astérix & Obélix faites main avec passion !</p>
  </section>
</div>

<div class="container py-4">
  <h2 class="text-center pb-5">Notre catalogue</h2>
  <!-- Barre de recherche -->
  <div class="row mb-4">
    <div class="col-md-6 mx-auto">
      <div class="input-group">
        <input type="text" 
               class="form-control" 
               [(ngModel)]="searchText" 
               placeholder="Rechercher un produit...">
      </div>
    </div>
  </div>

  <div class="sort-buttons">
        <button class="sort-btn" 
                [class.active]="sortOrder === 'asc'"
                (click)="sortByPriceAsc()">
          Prix croissant ↑
        </button>
        <button class="sort-btn"
                [class.active]="sortOrder === 'desc'"
                (click)="sortByPriceDesc()">
          Prix décroissant ↓
        </button>
  </div>

  <!-- Grille des produits -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let product of products | filterByName:searchText | sortByPrice">
      <div class="card h-100 shadow-sm">
        <img [src]="'assets/images/' + product.image" 
             [alt]="product.name" 
             class="card-img-top p-3"
             onerror="this.src='assets/images/placeholder.png'">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ product.name }}</h5>
          <p class="card-text text-danger fw-bold">{{ product.price }}€</p>
          <div class="d-grid gap-2">
            <a [routerLink]="['/product', product.id]" class="btn ">Voir détails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
